:root {
  --blue1: #006CBF;
  --blue2: #00A1DE;
  --green: #54B245;
  --white: #FFFFFF;
  --grey1: #FCFEFF;
  --grey2: #F2F6F7;
  --teal: #25AFB5;
  --darkgrey: #4C5267;
  --complete: #00653d;
  --error: #ce1f4c;
  --paused: #f6901c;
  --in-process: #00948e;
  --idle: #ffd102;
}

.header {
  line-height: 36px;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: 'Lato', cursive;
  color: --darkgrey;

}

.App .logo {
  background-image: url(assets/pki_logo_header_mostly_white.png);
  height: 75px;
  width: 134px;
}
.App .logo:hover {
  background-image: url(assets/pki_logo_hover.png);
  height: 75px;
  width: 134px;
}

.App .Home {
  background-color: var(--white);
}
.App .spacer {
  height: 100px;
}
.App .short-spacer {
  height: 10px;
}

.App .Technical {
  background-color: var(--white);
}

.App .References {
  background-color: var(--white);
}


.display-board {
  width: 100%;
  background-color: rgb(555, 200, 789);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}


.progress-bar .bg-success {
  background-color: green;
  color: black;
}

.mrgnbtm {
  margin-top: 20px;
}
.App container{
}




.App .h1 {
  line-height: 36px;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--darkgrey);
}

.App .h1-b {
  line-height: 110px;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--white);
  vertical-align: bottom;
  position: relative;
  background-color:rgba(0, 0, 0, 0.0);
  text-decoration: none;
  white-space: nowrap;
}
.App .h1-b-selected {
  line-height: 110px;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--grey2);
  vertical-align: bottom;
  position: relative;
  background-color:rgba(0, 0, 0, 0.0);
  text-decoration: none;
  text-shadow: 2px 2px 3px var(--darkgrey);
  white-space: nowrap;
}
.App .h1-b-selected:hover {
  line-height: 110px;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--darkgrey);
  vertical-align: bottom;
  position: relative;
  background-color:rgba(0, 0, 0, 0.0);
  text-decoration: none;
  text-shadow: 2px 2px 3px var(--darkgrey);
  white-space: nowrap;
}

.App .h1-b:hover {
  line-height: 110px;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--darkgrey);
  vertical-align: bottom;
  position: relative;
  background-color:rgba(0, 0, 0, 0.0);
  text-decoration: none;
  white-space: nowrap;
}

.App .h2 {
  line-height: 18px;
  letter-spacing: 0px;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #212529;
}

.App .h2-b {
  line-height: 118px;
  letter-spacing: 0px;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--white);
  vertical-align: bottom;
  position: relative;
  background-color:rgba(0, 0, 0, 0.0);
  text-decoration: none;
  white-space: nowrap;
}
.App .h2-b-selected{
  line-height: 118px;
  letter-spacing: 0px;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--grey2);
  vertical-align: bottom;
  position: relative;
  background-color:rgba(0, 0, 0, 0.0);
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--darkgrey);
  white-space: nowrap;
}
.App .h2-b-selected:hover{
  line-height: 118px;
  letter-spacing: 0px;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--darkgrey);
  vertical-align: bottom;
  position: relative;
  background-color:rgba(0, 0, 0, 0.0);
  text-decoration: none;
  text-shadow: 2px 2px 2px var(--darkgrey);
  white-space: nowrap;
}
.App .h2-b:hover {
  line-height: 118px;
  letter-spacing: 0px;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--darkgrey);
  vertical-align: bottom;
  position: relative;
  background-color:rgba(0, 0, 0, 0.0);
  text-decoration: none;
  white-space: nowrap;
}

.App .h3 {
  line-height: 24px;
  letter-spacing: 0px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #4C5267;
}

.App .h4 {
  line-height: 22px;
  letter-spacing: 0px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #4C5267;
}

.App .h5 {
  line-height: 20px;
  letter-spacing: 0px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #464646;
}

.App .p {
  line-height: 18px;
  letter-spacing: 0px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #464646;
}

.App .link {
  line-height: 18px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #006CBF;
}
.App .label {
  line-height: 15px;
  letter-spacing: 0px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #3F3F3F;
}

.App .loading:after {
  overflow: hidden;
  font-size: 16px;
  line-height: 15px;
  display: inline-block;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}
.App .loading:after {
  overflow: hidden;
  font-size: 16px;
  line-height: 15px;
  display: inline-block;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

.App .Toastify__toast--success {
  background-color: var(--complete);
}
.App .Toastify__toast--error {
  background-color: var(--error);
}

@keyframes ellipsis {
  to {
    width: 15px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 15px;    
  }
}

.App .footnote {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #4C5267;
}
.App .tab1 {
  padding-left: 20px;
}
.App .tab2 {
  padding-left: 40px;
}
.App .tab3 {
  padding-left: 60px;
}
.App .tab4 {
  padding-left: 80px;
}
.App .tab5 {
  padding-left: 100px;
}

.primarybutton-active {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--grey1);
  background-color: #003868;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.primarybutton-active:hover {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--grey2);
  background-color: #002545;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
}
.primarybutton-active:active {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--grey2);
  background-color: black;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
}

.primarybutton-inactive {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: black;
  background-color: #DCDCDC;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: 0;
  cursor: not-allowed;
}

.secondarybutton-active {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #dae7f2;
  background-color: var(--white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  border-color: #dae7f2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.secondarybutton-active:hover {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #dae7f2;
  background-color: #dae7f2;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  border-color: #dae7f2;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
}
.secondarybutton-active:active {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #dae7f2;
  background-color: #b4cde4;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  border-color: #dae7f2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
}

.secondarybutton-inactive {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #cfe0ee;
  background-color: var(--white);
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  border-color: #cfe0ee;
  cursor: not-allowed;}


.file-loader {
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--grey1);
  background-color: #003868;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
}

.App .navbar .navbar-default{
  height:  105px;
  width: 100vw;
  background-image: linear-gradient(to right, var(--blue2) , var(--green));
  border-radius: 0px;
  vertical-align:   bottom ;
  position:  fixed;
  top: 0;
  z-index: 10;
  opacity: .0;
  margin:  0;
  padding:  0;
}
.App .container-fluid{
  height:  105px;
  width: 100vw;
  background-image: linear-gradient(to right, var(--blue2) , var(--green));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px;
  vertical-align:   bottom ;
  position:  fixed;
  top: 0;
  z-index: 10;
  opacity: .9;
}
.App .navbar .navbar-header{
  width:  100%;
  height:  100px;
  background-color:rgba(0, 0, 0, 0);
  vertical-align:   bottom ;
}
.App .navbar-brand{
  height: 100%;
  vertical-align:   bottom ;
  align-items: bottom;
  display: flex;
  background-color:rgba(0, 0, 0, 0);
  justify-content: space-around;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  width: 30px;
}
.custom-file-input{
  background-color: #FCFEFF;
  padding-top: 10px;
  padding-bottom: 9px;
  border-style: dotted;
  border-color:  #DCDCDC;
  border-radius: 4px;
  color: #6299c8;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.custom-file-input:active{
  padding-top: 10px;
  padding-bottom: 9px;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
}
.custom-file-input::before {
  content: 'SELECT FILES';
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #6299c8;
  background-color: #FCFEFF;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 9px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

}
.custom-file-input:hover::before {
  content: 'SELECT FILES';
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #6299c8;
  background-color: #dae7f2;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

}
.custom-file-input:active::before {
  content: 'SELECT FILES';
  line-height: 12px;
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #6299c8;
  background-color: #b4cde4;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 9px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.custom-email-input{
  background-color: #FCFEFF;
  padding-top: 5px;
  padding-bottom: 5px;
  width:  66%;
  min-width: 250px;
  border-style: solid;
  border-color:  #DCDCDC;
  border-radius: 4px;
  color: #6299c8;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}
input:autofill{
  background-color: #FCFEFF;
  color: var(--darkgrey);
}
input:-webkit-autofill {  
  background-color: #FCFEFF;
}

.custom-email-input:active{
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-radius: 4px;
  border-width: 2px;
}



.App .navbar-brand {
}

.App .disappear {
  opacity:0;
  transition:opacity 2000ms;
}
.App .appear {
  opacity:1;
  transition:opacity 2000ms;
}



.bg-complete {
  background-color: var(--complete);
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.bg-error {
  background-color: var(--error);
}
.bg-paused {
  background-color: var(--paused);
}
.bg-in-process {
  background-color: var(--in-process);
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.bg-idle {
  background-color: var(--idle);
}

.App .progress-vis{
  opacity: 1;
  transition:opacity 2000ms;

}

.App .progress-invis{
  opacity: 0;
  transition:opacity 2000ms;
}

.App .loaded-file{
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--grey1);
  background-color: var(--blue2);
  text-align: center;
  margin: 4px 2px;
  border-radius: 4px;
  border-width: thin;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  background-image: url(assets/check_blue2.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.App .loaded-file:hover{
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--grey1);
  background-color: var(--blue1);
  text-align: center;
  margin: 4px 2px;
  border-radius: 4px;
  border-width: thin;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  background-image: url(assets/check_blue1.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.App .loaded-file:active{
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--grey1);
  background-color: var(--darkgrey);
  text-align: center;
  margin: 4px 2px;
  border-radius: 4px;
  border-width: thin;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
  background-image: url(assets/check_darkgrey.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.App .loaded-file-label{
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--grey1);
  text-align: center;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
  cursor: pointer;
}
.App .loaded-file-checkbox{
  display: none;
}


.App .unloaded-file{
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--darkgrey);
  background-color: var(--grey2);
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  background-image: url(assets/plus_grey2.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.App .unloaded-file:hover{
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--darkgrey);
  background-color: #DCDCDC;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  background-image: url(assets/plus_grey3.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.App .unloaded-file:active{
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--grey1);
  background-color: var(--darkgrey);
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px;
  border-width: thin;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 14px 0 rgba(0, 0, 0, 0.19);
  background-image: url(assets/plus_darkgrey.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.App .unloaded-file-label{
  letter-spacing: 0px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
  cursor: pointer;
}